.navi {float: left; width: 12%; }
.navi ul { list-style-type: none; padding:0; margin:0; }
.content {float: left; width: 80%; }
.recipe-content {width: 80%; height: 80%; }
.new-recipe { display: none; }
.recipe-list { display: none; }
.recipe-list ul { list-style-type: none; padding:0; margin:0; }
